.index {
	&.loading {
		.loader {
			display: block;
			i {
				opacity: 1;
				margin-top: 12px;
			}
		}
	}
	.post-loading {
		position: absolute;
		width: 100%;
		top: 10%;
		left: 0;
		text-align: center;
	}
	.loader {
		width: 100%;
		text-align: center;
		left: 0;
		color: white;
		font-size: 25px;
		display: none;
		position: fixed;
		height: 100%;
		background: rgba(0,0,0, 0.3);
		top: 0;
		i {
			display: inline-block;
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			-ms-transition: all 0.4s ease;
			-o-transition: all 0.4s ease;
			transition: all 0.4s ease;
			color: #00EFFF;
		}
	}
	.navbar li a,
	.navbar-brand {
		color: #fff;
	}
	.navbar-fixed-top {
		padding: 0;
	}
	img {
		max-width: 200px;
		margin: 0 auto 40px;
		&:hover {
			box-shadow: 0 0 44px;
			border-radius: 100px;
			cursor: pointer;
		}
	}
	.intro-text a {
		color: #fff;
		font-family: Roboto;
	}
	button {
		font-family: Roboto;
	}
	.location-result {
		font-size: 19px !important;
		line-height: 29px;
		margin-top: 20px;
	}
	#google-maps {
		width: 100%;
		height: 100%;
		position: absolute !important;
		top: 0;
		left: 0;
		.fa-spin {
			font-size: 10em;
			margin-top: 130px;
		}
	}
}